<h1>Listing articles</h1>

<table>
<tr>
<th>Title</th>
<th>Text</th>
<th colspan="2"></th>
</tr>

<% @articles.each do |article| %>
<tr>
<td><%= article.title %></td>
<td><%=article.text %></td>
<td><%= link_to 'Show', article_path(article)></td>
<td><%= link_to 'Edit', edit_article_path(article) %></td>
</tr>
<% end %>
</table>
